
<h2>Project Index</h2>

<% @projects.each do |project| %>
  <h4><%= link_to project['name'], project['html_url'] %></h4>
  <p>Language: <%= project['language'] %></p>
  <p>Stars: <%= project['stargazers_count'] %></p>
<% end %>
