
<h2>Project Index</h2>

<% @projects.each do |project| %>
  <% if project['stargazers_count'] > 0 %>
    <h4><%= link_to project['name'], project['html_url'] %></h4>
    <p><%= project['description'] %></p>
    <p>Language: <%= project['language'] %> | Stars: <%= project['stargazers_count'] %></p>
    <br>
  <% end %>
<% end %>
