<h3>current student at epicodus. learning how to build web applications with an eye for clean, scalable code, with a passion for accessible user-experience. creative problem solver with background in non-profit project management. spend weekends climbing mountains.</h3>
<br>
<h4><%= link_to "LinkedIn", url: "https://www.linkedin.com/in/tracie-weitzman/" %></h4>
