/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

$pink: #fee1db;
$brightblue: #002087;

// .left-side {
//   text-align: center;
//   width: 100vh;
//   transform: rotate(90deg);
//   transform-origin: left top;
//   position: fixed;
//   z-index: 15;
// }

.nav-wrap {
  background-color: $pink;
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  z-index: 600;
}

.main-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  li {
    display: inline-block;
    margin: 10px;
  }
}

#main-nav {
  float: right;
  li {
    padding-right: 25px;
  }
}

body {
  background-color: $pink;
}

h1, h2, h3, .btn {
  color: $brightblue;
  font-family: 'Josefin Slab', serif;
}

h4, h5, h6, p, a, label {
  color: $brightblue;
  font-family: 'Libre Baskerville', serif;
}

.main-content {
  margin-top: 75px;
}

.card {
  // border: 2px $brightblue;
  margin:  25px 0;
}

.tent {
  margin-right: 10px;
  &:hover {
    border-bottom: 0;
  }
  img {
    vertical-align: middle;
    height: 50px;
    &:hover {
      opacity: .5;
    }
  }
}

.home-image {
  position: relative;
  width: 100%;
}

.home-image {
  h1 {
    position: absolute !important;
    color: $pink;
    top: 10px;
    left: 20px;
    width: 100%;
  }
}
